{% extends 'base.html' %}
{% load static %}
{% load survey_extras %}

{% block title %}{{ category_display }} Survey - Pholli{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ category_display }} Survey</h1>
    
    <form id="surveyForm" method="post">
        {% csrf_token %}

        {% for question in questions %}
        <div class="question-card" data-question-id="{{ question.id }}">
            <div class="question-title">
                {{ question.question_text }}
                {% if question.is_required %}<span class="text-danger">*</span>{% endif %}
            </div>

            {% if question.input_type == 'text' %}
                <input type="text" class="form-control" name="{{ question.field_name }}" id="{{ question.field_name }}"
                    value="{{ existing_responses|get_item:question.field_name|default:'' }}" 
                    {% if question.is_required %}required{% endif %}>

            {% elif question.input_type == 'number' %}
                <input type="number" class="form-control" name="{{ question.field_name }}" id="{{ question.field_name }}"
                    value="{{ existing_responses|get_item:question.field_name|default:'' }}" 
                    {% if question.is_required %}required{% endif %}>

            {% elif question.input_type == 'select' %}
                <select class="form-select" name="{{ question.field_name }}" id="{{ question.field_name }}" 
                    {% if question.is_required %}required{% endif %}>
                    <option value="">Select an option...</option>
                    {% for choice in question.choices %}
                    <option value="{{ choice.0 }}" 
                        {% if existing_responses|get_item:question.field_name == choice.0 %}selected{% endif %}>
                        {{ choice.1 }}
                    </option>
                    {% endfor %}
                </select>

            {% elif question.input_type == 'radio' %}
                <div class="radio-group">
                    {% for choice in question.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ question.field_name }}"
                            id="{{ question.field_name }}_{{ choice.0 }}" value="{{ choice.0 }}" 
                            {% if existing_responses|get_item:question.field_name == choice.0 %}checked{% endif %} 
                            {% if question.is_required %}required{% endif %}>
                        <label class="form-check-label" for="{{ question.field_name }}_{{ choice.0 }}">
                            {{ choice.1 }}
                        </label>
                    </div>
                    {% endfor %}
                </div>

            {% elif question.input_type == 'checkbox' %}
                <div class="checkbox-group">
                    {% for choice in question.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ question.field_name }}"
                            id="{{ question.field_name }}_{{ choice.0 }}" value="{{ choice.0 }}">
                        <label class="form-check-label" for="{{ question.field_name }}_{{ choice.0 }}">
                            {{ choice.1 }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Generate Quotations</button>
    </form>
</div>
{% endblock %}